<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Broadcating</title>
</head>
<body ng-app="myApp">
<div ng-controller="firstCtrl" style="border:2px solid #428bcb; padding:5px;" ng-init="s=10">
    <h1>Parent Controller</h1>
    <input ng-model="msg">
    <button ng-click="handleClick(msg);">Broadcast</button>
    <input type="text" value={{s}}>{{s}}
    <br>
    <div ng-controller="secCtrl" style="border:2px solid #428bca; padding:5px;">
        <h1>Child Controller</h1>
        <p>Broadcast Message:{{message}}</p>
    </div>
</div>
</body>
<script src="angular.min.js">
</script>>
<script src="js17.js"></script>
</html>